[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sqlalchemy = "*"
changanya = "*"
pymysql = "*"
pony = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
